
{{#each postagem}}
<div class="card m-3">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
       <a href="/leiaMais/{{slug}}" class="btn btn-outline-dark btn-sm px-3 py-2">
        Continuar a leitura →
       </a>
           <hr>
         <small><b>Data da Publicação: </b> {{date}}  </small> 
    </div>
</div>
{{else}}
<h5>Nenhuma postagem cadastrada</h5>
{{/each}}